
// @import ../common/global

@import ./containersCTA/_containersCtaMain

@import ./info/_infoMain

@import ./features/_featuresMain

@import _sbn_popup

.sbn_ComponentCustom.parentElement.elementorCustom
    padding: 50px 75px
    @include responsivo(telefonoTable)
        padding: 25px 25px
    @include responsivo(pcMedio)
        padding: 50px
    @include responsivo(general)
        padding: 50px

    // .containerImage.containImageHover
    //     box-shadow: $shadow2

    .section-row
        .innerSectionElement.sct1
            margin-bottom: 50px
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 25px
            .containElements
                display: flex
                flex-direction: column
                .secondaryTitle,
                .text
                    text-align: center

                .secondaryTitle
                    margin-bottom: 25px
                    @include h2_title_contain()
                .text
                    display: block
                    width: 75%
                    margin: 0 auto
                    @include responsivo(telefonoTable)
                        width: 100%
                    @include responsivo(pcMedio)
                        width: 100%
                    @include p_text_contain()

        .text
            p
                &:last-child
                    margin-bottom: 0!important


    .row
        // [class*="col-"]
        //     @include responsivo(general)
        //         &:first-child
        //             padding-left: 0!important
        //         &:last-child
        //             padding-right: 0!important
        //     @include responsivo(resto)
        //         &:first-child
        //             padding-left: 0!important
        //         &:last-child
        //             padding-right: 0!important
        [class*="col-lg-6"]
            @include responsivo(general)
                &:nth-of-type(odd)
                    padding-left: 0!important
                &:nth-of-type(even)
                    padding-right: 0!important
            @include responsivo(resto)
                &:nth-of-type(odd)
                    padding-left: 0!important
                &:nth-of-type(even)
                    padding-right: 0!important

        [class*="col-lg-4"]
            @include responsivo(general)
                &:nth-of-type(3n-2)
                    padding-left: 0!important
                &:nth-of-type(3n)
                    padding-right: 0!important
            @include responsivo(resto)
                &:nth-of-type(3n-2)
                    padding-left: 0!important
                &:nth-of-type(3n)
                    padding-right: 0!important

        [class*="col-lg-3"]
            @include responsivo(general)
                &:nth-of-type(4n-3)
                    padding-left: 0!important
                &:nth-of-type(4n)
                    padding-right: 0!important
            @include responsivo(resto)
                &:nth-of-type(4n-3)
                    padding-left: 0!important
                &:nth-of-type(4n)
                    padding-right: 0!important

html
    margin: 0!important
    overflow: visible!important
