



section.sbn_ComponentCustom.parentElement.elementorCustom.C_ImageTextCtaSide_T1
    box-shadow: $shadow2

    .section-row
        section.innerSectionElement
            .groupElements.row
                @include responsivo(general)
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-content: center
                    align-items: center

                @include responsivo(resto)
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-content: center
                    align-items: center

                .partContainer
                    padding: 0

                .partContainer.info
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    align-items: center
                    @include responsivo(telefonoTable)
                        padding: 0
                    @include responsivo(pcMedio)
                        padding: 0

                    .containElements
                        width: 100%
                        display: flex
                        flex-direction: column
                        h3.secondaryTitle
                            margin-bottom: 0
                            @include h3_title_contain()
                        .text
                            margin-bottom: 0
                            @include p_secondaryText_contain()
                        h3.secondaryTitle,
                        .text
                            @include responsivo(telefonoTable)
                                text-align: center
                            @include responsivo(pcMedio)
                                text-align: center
                        .sbn_buttonCustom
                            margin-top: 25px
                            @include responsivo(telefonoTable)
                                width: fit-content
                                margin: 0 auto
                                margin-top: 25px
                            @include responsivo(pcMedio)
                                width: fit-content
                                margin: 0 auto
                                margin-top: 25px

                .partContainer.image
                    margin-bottom: 25px
                    .containerImage
                        display: flex
                        @include responsivo(telefonoTable)
                            width: fit-content
                            margin-left: auto
                            margin-right: auto
                        @include responsivo(pcMedio)
                            width: fit-content
                            margin-left: auto
                            margin-right: auto
                        img
                            object-fit: cover
                            object-position: center
                            // width: 100%
                            max-width: unset!important
                            max-height: unset!important
                            @include responsivo(telefonoTable)
                                height: 225px
                                width: auto
                                margin: 0 auto
                            @include responsivo(pcMedio)
                                height: 300px
                                width: auto
                                margin: 0 auto
                            @include responsivo(general)
                                height: 475px
                                width: 475px
                            @include responsivo(smallPcTablet)
                                height: 450px
                                width: 450px

                            @include responsivo(resto)
                                height: 500px
                                width: 500px


                &.rightSide
                    @include responsivo(telefonoTable)
                        display: flex
                        flex-direction: column-reverse
                    @include responsivo(pcMedio)
                        display: flex
                        flex-direction: column-reverse
                    .partContainer.info
                        .containElements
                            @include responsivo(general)
                                padding: 25px 50px
                                padding-left: 0
                            @include responsivo(resto)
                                padding: 25px 50px
                                padding-left: 0
                &.leftSide
                    @include responsivo(telefonoTable)
                        display: flex
                        flex-direction: column
                    @include responsivo(pcMedio)
                        display: flex
                        flex-direction: column
                    .partContainer.info
                        .containElements
                            @include responsivo(general)
                                padding: 25px 50px
                                padding-right: 0
                            @include responsivo(resto)
                                padding: 25px 50px
                                padding-right: 0

    &.whiteBackground_Style
        .section-row
            section.innerSectionElement.sct1
                .containElements
                    h2.secondaryTitle
                        color: $blackColor
                    .text
                        color: $grayColor
            section.innerSectionElement.sct2
                .groupElements.row
                    .partContainer.info
                        .containElements
                            h3.secondaryTitle
                                color: $blackColor
                            .text
                                color: $grayColor

    &.greyBackground_Style
        .section-row
            section.innerSectionElement.sct1
                .containElements
                    h2.secondaryTitle
                        color: $blackColor
                    .text
                        color: $blackColor
            section.innerSectionElement.sct2
                .groupElements.row
                    .partContainer.info
                        .containElements
                            h3.secondaryTitle
                                color: $blackColor
                            .text
                                color: $blackColor
    &.blackBackground_Style
        .section-row
            section.innerSectionElement.sct1
                .containElements
                    h2.secondaryTitle
                        color: $whiteBase1
                    .text
                        color: $whiteBase1
            section.innerSectionElement.sct2
                .groupElements.row
                    .partContainer.info
                        .containElements
                            h3.secondaryTitle
                                color: $whiteBase1
                            .text
                                color: $whiteBase1
    &.primaryBackground_Style
        .section-row
            section.innerSectionElement.sct1
                .containElements
                    h2.secondaryTitle
                        color: $blackColor
                    .text
                        color: $blackColor
            section.innerSectionElement.sct2
                .groupElements.row
                    .partContainer.info
                        .containElements
                            h3.secondaryTitle
                                color: $blackColor
                            .text
                                color: $blackColor