


@media (min-width: 992px)
    .col-lg-4
        width: 33.33333333%!important

@media (min-width: 992px)
    .col-lg-6
        width: 50%!important

@media (min-width: 992px)
    .col-lg-8
        flex: 0 0 auto
        width: 66.66666667%!important


@include responsivo(telefonoTable)
    .col-md-6
        width: 50%!important
    .col-md-12
        width: 100%!important
@include responsivo(pcMedio)
    .col-md-6
        width: 50%!important
    .col-md-12
        width: 100%!important




.blackBackground_Style
    background-color: $blackColor
.whiteBackground_Style
    background-color: $whiteBase1
.greyBackground_Style
    background-color: $lightGray_color
.primaryBackground_Style
    background-color: $primaryColorYellow



.primaryColor
    color: $primaryColorYellow

.blackColor
    color: $blackColor
.grayColor
    color: $grayColor
.whiteBase1
    color: $whiteBase1
.lightGray_color
    color: $lightGray_color



