
@media (min-width: 992px)
    .col-lg-4
        width: 33.33333333%!important

@media (min-width: 992px)
    .col-lg-6
        width: 50%!important

@media (min-width: 992px)
    .col-lg-8
        flex: 0 0 auto
        width: 66.66666667%!important

@include responsivo(telefonoTable)
    .col-md-6
        width: 50%!important
    .col-md-12
        width: 100%!important
@include responsivo(pcMedio)
    .col-md-6
        width: 50%!important
    .col-md-12
        width: 100%!important

.blackBackground_Style
    background-color: $blackColor
.whiteBackground_Style
    background-color: $whiteBase1
.greyBackground_Style
    background-color: $lightGray_color
.yellowBackground_Style
    background-color: $yellow_color
.darkBlueBackground_Style
    background-color: $darkBlue_color
.greenBackground_Style
    background-color: $turcGreen_color
.primaryBackground_Style
    background-color: $primaryColor

.primaryColor
    color: $primaryColor

.yellowColor
    color: $yellow_color

.whiteColor
    color: $whiteBase1

.greenColor
    color: $turcGreen_color

.darkBlueColor
    color: $darkBlue_color

.blackColor
    color: $blackColor
.grayColor
    color: $grayColor
.whiteBase1
    color: $whiteBase1
.lightGray_color
    color: $lightGray_color

br.space
    display: block!important

.desktopElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: block!important
    @include responsivo(resto)
        display: block!important
.mobileElement
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important
.tabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopTabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important

    @include responsivo(general)
        display: block!important

    @include responsivoSpecial(1000px, 1125px)
        display: none!important

    @include responsivo(resto)
        display: block!important

.mobileSmallElement
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopElement_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: flex!important
    @include responsivo(resto)
        display: flex!important
.mobileElement_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: flex!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopTabletElement_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: flex!important

    @include responsivo(general)
        display: flex!important

    @include responsivoSpecial(1000px, 1125px)
        display: none!important

    @include responsivo(resto)
        display: flex!important

.mobileSmallElement_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

div#payment
    ul.wc_payment_methods.payment_methods.methods

        li.wc_payment_method.payment_method_stripe
            // border-bottom: 1px solid $grayColor
            .payment_box.payment_method_stripe
                div#stripe-payment-data
                    border-bottom: 1px solid rgba(0,0,0,.1)
                    padding-bottom: 5px
                    margin-bottom: 5px
        .wc_payment_method

            label[for^="payment_method"]
                display: none
                // display: flex
                // width: 100%
                // flex-direction: row
                // justify-content: space-between
                // align-content: center
                // align-items: center
                // @include responsivo(general)
                //     padding: 10px 35px!important
                // @include responsivo(resto)
                //     padding: 10px 35px!important

                // .payment_gateway_singleIcon
                //     img.iconSmall
                //         height: 65px

            .payment_box
                margin-top: 0
                padding-top: 0
                padding-left: 30px
                padding-right: 30px
                padding-bottom: 0
                @include responsivo(telefonoTable)
                    padding-left: 25px
                    padding-right: 25px
                @include responsivo(pcMedio)
                    padding-left: 25px
                    padding-right: 25px

                div#stripe-payment-data
                    p
                        margin-bottom: 10px

                    fieldset#wc-stripe-cc-form
                        margin-bottom: 10px
                        margin-top: 0

                    fieldset
                        border: 0
                        padding: 0

                        p.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated
                            padding: 0
                            margin-bottom: 0
                            display: flex
                            flex-direction: row
                            align-content: flex-start
                            align-items: flex-start
                            input
                                margin-right: 10px
                            label
                                line-height: 1.1
                                @include responsivo(general)
                                    font-size: 14px
                                @include responsivo(resto)
                                    font-size: 14px

                section.sbn_payment_methods_desc
                    margin: 10px 0
                    margin-top: 0
                    .containElements
                        label
                            margin-bottom: 10px
                            display: block
                        ul.payment_methods_list
                            display: flex
                            flex-direction: row
                            justify-content: center
                            align-content: center
                            align-items: center
                            list-style: none
                            // flex-flow: wrap
                            padding: 0
                            margin: 0
                            @include responsivo(telefonoTable)
                                flex-flow: wrap
                            @include responsivo(pcMedio)
                                justify-content: flex-start

                            li.payment_method_item
                                // width: 30%
                                // margin-bottom: 10px
                                margin: 0 2.5px
                                @include responsivo(telefonoTable)
                                    width: 20%
                                    margin-bottom: 5px
                                    margin-left: 5px
                                    margin-right: 5px

                                @include responsivo(general)
                                    margin: 2px
                                    margin-bottom: 0!important
                                @include responsivo(smallPcTablet)
                                    margin-bottom: 0!important
                                    margin: 0 2px
                                .icon
                                    // display: flex
                                    img
                                        display: block
                                        margin: auto
                                        height: 40px
                                        @include responsivo(telefonoTable)
                                            height: 35px
                                        @include responsivo(pcMedio)
                                            height: 40px
                                        @include responsivo(general)
                                            height: 35px

                                        @include responsivo(smallPcTablet)
                                            height: 25px

    .sbn_payment_gateways_preselectors
        padding-left: 30px
        padding-right: 30px
        @include responsivo(telefonoTable)
            padding-left: 25px
            padding-right: 25px

        @include responsivo(pcMedio)
            padding-left: 25px
            padding-right: 25px
        .selectorsElements
            ul.gatewayLists
                padding-left: 0
                list-style: none
                @include responsivo(general)
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    align-items: center

                @include responsivo(resto)
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    align-items: center

                li.gatewayElement
                    width: 100%
                    @include responsivo(general)
                        width: 100%
                        margin-bottom: 10px
                    @include responsivo(resto)
                        width: 100%
                        margin-bottom: 10px
                    .sbn_buttonCustom
                        padding: 0!important
                        border: none
                        width: 100%
                        display: flex
                        justify-content: flex-start
                        align-content: center
                        align-items: center
                        border: 1px solid rgba(0,0,0,0.025)
                        position: relative
                        transition: $trans
                        background-color: $whiteBase1
                        box-shadow: $shadow2
                        .selectorInner
                            .icon
                                img
                                    height: 50px
                                    width: auto

                        .infoGateway
                            padding-left: 10px
                            display: flex
                            flex-direction: column
                            justify-content: flex-start
                            h5
                                text-align: left
                                margin-top: 0
                                margin-bottom: 2.5px
                                font-size: 14px
                                line-height: 1
                                font-weight: 600
                                @include responsivo(telefonoTable)
                                    font-size: 12px
                                @include responsivo(pcMedio)
                                    font-size: 14px
                                @include responsivo(general)
                                    font-size: 13px
                                @include responsivo(smallPcTablet)
                                    font-size: 12.5px

                            small
                                font-weight: 500
                                text-align: left
                                line-height: 1
                                font-size: 12px
                                margin-bottom: 0
                                @include responsivo(telefonoTable)
                                    font-size: 10px
                                @include responsivo(pcMedio)
                                    font-size: 12px
                                @include responsivo(general)
                                    font-size: 11px
                                @include responsivo(smallPcTablet)
                                    font-size: 10.5px

                        .customCheckBox
                            position: absolute
                            right: 0
                            top: 0
                            bottom: 0

                    &:last-child
                        margin-bottom: 0

                li.gatewayElement.active
                    .sbn_buttonCustom
                        background-color: $yellow_color

.checkboxCustom
    --background: #fff
    --border: #D1D6EE
    --border-hover: #BBC1E1
    --border-active: #1E2235
    --tick: #fff
    position: relative
    box-sizing: inherit
    &:before, &:after
        box-sizing: inherit

    *
        box-sizing: inherit
        &:before, &:after
            box-sizing: inherit

    input, svg
        width: 21px
        height: 21px
        display: block

    input[type="checkbox"],
    input[type="radio"]
        -webkit-appearance: none!important
        -moz-appearance: none!important
        appareance: none!important
        position: relative
        outline: none
        background: var(--background)
        border: none
        margin: 0
        padding: 0
        cursor: pointer
        border-radius: 4px
        transition: box-shadow 0.3s
        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border))
        &:hover
            --s: 2px
            --b: var(--border-hover)
        &:checked
            --b: var(--border-active)
        &::-ms-check
            display: none
        &::before
            display: none

    svg
        pointer-events: none
        fill: none
        stroke-width: 2px
        stroke-linecap: round
        stroke-linejoin: round
        stroke: var(--stroke, var(--border-active))
        position: absolute
        top: 0
        left: 0
        width: 21px
        height: 21px
        transform: scale(var(--scale, 1)) translateZ(0)

    &.path
        input:checked
            --s: 2px
            transition-delay: 0.4s
            + svg
                --a: 16.1 86.12
                --o: 102.22
        svg
            stroke-dasharray: var(--a, 86.12)
            stroke-dashoffset: var(--o, 86.12)
            transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s

    &.bounce
        --stroke: var(--tick)
        input:checked
            --s: 11px
            + svg
                -webkit-animation: bounce 0.4s linear forwards 0.2s
                animation: bounce 0.4s linear forwards 0.2s
        svg
            --scale: 0

@keyframes bounce
    50%
        transform: scale(1.2)
    75%
        transform: scale(0.9)
    100%
        transform: scale(1)

.customCheckBox
    display: flex
    width: 20px
    justify-content: center
    align-content: center
    margin-right: 10px
    margin-left: 0
    label
        width: fit-content
        height: fit-content
        margin: auto
        display: block
        input,
        svg
            width: 20px
            height: 20px
            @include responsivo(telefonoTable)
                height: 20px
                width: 20px
            @include responsivo(pcMedio)
                height: 20px
                width: 20px
    @include responsivo(telefonoTable)
        margin-right: 15px
        width: 20px
    @include responsivo(pcMedio)
        margin-right: 15px
        width: 20px

.containerImage.lightbox
    position: relative
    z-index: 490
    a
        display: block

.containerImage
    width: fit-content!important
    margin-left: auto
    margin-right: auto
    a
        width: fit-content
    img
        object-fit: cover
        object-position: top

.containerImage
    &.circleBox
        border-radius: 100%

.shadow2
    box-shadow: $shadow2!important

.mb25
    margin-bottom: 25px!important



.slider_menu_container_parent
    position: relative
    padding: 0
    height: 50px
    overflow: hidden
    .slider_menu_container
        display: block
        margin: 0 auto
        position: absolute
        animation: slide_infinite_menu_animation 20s linear infinite
        @include responsivo(telefonoTable)
            width: 600%
        @include responsivo(pcMedio)
            width: 375%
        @include responsivo(general)
            width: 325%
        @include responsivo(smallPcTablet)
            width: 365%
        @include responsivo(resto)
            width: 275%
        ul
            list-style: none

        ul.navbar-nav.slide
            float: left
            width: 50%
            display: flex
            flex-direction: row
            padding-left: 0
            li.menu-item
                padding: 0 5px
                width: fit-content
                a
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    @include responsivo(telefonoTable)
                        font-size: 12px
                    @include responsivo(pcMedio)
                        font-size: 12px


        &:hover
            animation-play-state: paused



@keyframes slide_infinite_menu_animation
    0%
        left: 0
    100%
        left: -100%