


@media (min-width: 992px)
    .col-lg-4
        width: 33.33333333%!important

@media (min-width: 992px)
    .col-lg-6
        width: 50%!important

@media (min-width: 992px)
    .col-lg-8
        flex: 0 0 auto
        width: 66.66666667%!important


@include responsivo(telefonoTable)
    .col-md-6
        width: 50%!important
    .col-md-12
        width: 100%!important
@include responsivo(pcMedio)
    .col-md-6
        width: 50%!important
    .col-md-12
        width: 100%!important




.blackBackground_Style
    background-color: $blackColor
.whiteBackground_Style
    background-color: $whiteBase1
.greyBackground_Style
    background-color: $lightGray_color
.primaryBackground_Style
    background-color: $primaryColorYellow



.primaryColor
    color: $primaryColorYellow

.blackColor
    color: $blackColor
.grayColor
    color: $grayColor
.whiteBase1
    color: $whiteBase1
.lightGray_color
    color: $lightGray_color


.sbn_buttonCustom
    box-shadow: $shadow2!important


.boxShadow2
    box-shadow: $shadow2

.noShadow
    box-shadow: none!important


.desktopElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: block!important
    @include responsivo(resto)
        display: block!important
.mobileElement
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important
.tabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopTabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important

    @include responsivo(general)
        display: block!important

    @include responsivoSpecial(1000px, 1125px)
        display: none!important

    @include responsivo(resto)
        display: block!important

.mobileSmallElement
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopElement_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: flex!important
    @include responsivo(resto)
        display: flex!important
.mobileElement_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: flex!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopTabletElement_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: flex!important

    @include responsivo(general)
        display: flex!important

    @include responsivoSpecial(1000px, 1125px)
        display: none!important

    @include responsivo(resto)
        display: flex!important

.mobileSmallElement_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important


// botones
.sbn_buttonCustom
    display: flex
    flex-direction: row
    justify-content: center
    justify-items: center
    align-content: center
    align-items: center
    text-decoration: none
    font-size: 20px
    line-height: 1
    padding: 15px 40px!important
    width: fit-content
    transition: $trans
    transform: scale(1)
    @include responsivo(telefonoTable)
        font-size: 13px!important
        padding: 12.5px 25px!important
    @include responsivo(pcMedio)
        font-size: 18px!important
        padding: 15px 40px!important
    @include responsivo(smallPcTablet)
        padding: 15px 30px!important
        font-size: 18px!important
    .icon_container
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        i
            display: block
            margin: auto
            @include responsivo(telefonoTable)
                font-size: 15px
            @include responsivo(pcMedio)
                font-size: 15px
            @include responsivo(general)
                font-size: 18px
            @include responsivo(smallPcTablet)
                font-size: 16px
            @include responsivo(resto)
                font-size: 18px

    &:hover
        transform: scale(1.05)
        cursor: pointer

    &.sbn_primaryButton
        background-color: $primaryColorYellow
        color: $blackColor
    &.sbn_secondaryButton
        background-color: $lightGray_color
        color: $blackColor
    &.sbn_thirdButton
        background-color: $blackColor
        color: $whiteBase1
    &.sbn_transparentButton
        border: 1px solid $blackColor
        background-color: transparent
    &.sbn_underlineButton
        color: $blackColor

    &.right_side
        display: flex
        flex-direction: row-reverse
        .icon_container
            margin-left: 10px
    &.left_side
        display: flex
        flex-direction: row
        .icon_container
            margin-right: 10px